@model UserCreateModel
@{
    TempData["Title"] = "Kayıt Ol";
}
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

<div style="margin-top:100px;"></div>
<div class="container mt-5">
    <div class="row">
        <form asp-action="SignUp" asp-controller="Account" method="post" class="w-75 mx-auto">
            <div class="text-danger" asp-validation-summary="All">
            </div>
            <div class="mb-3">
                <label>Adınız :</label>
                <input asp-for="@Model.Firstname" class="form-control" />
            </div>
            <div class="mb-3">
                <label>Soyadınız :</label>
                <input asp-for="@Model.Lastname" class="form-control" />
            </div>
            <div class="mb-3">
                <label>Kullanıcı Adınız :</label>
                <input asp-for="@Model.Username" class="form-control" />
            </div>
            <div class="mb-3">
                <label>Telefon Numaranız :</label>
                <input asp-for="@Model.Phone" class="form-control" />
            </div>
            <div class="mb-3">
                <label>Cinsiyet :</label>
                <select class="form-select" asp-items="@Model.Genders" asp-for="@Model.GenderId">
                    <option value="0">Bir cinsiyet seçiniz.</option>
                </select>
            </div>
            <div class="mb-3">
                <label>Şifreniz :</label>
                <input type="password" asp-for="@Model.Password" class="form-control" />
            </div>
            <div class="mb-3">
                <label>Şifreniz Tekrar :</label>
                <input type="password" asp-for="@Model.ConfirmPassword" class="form-control" />
            </div>
            <div class="mb-3 text-end">
                <button type="submit" class="btn btn-primary">Kayıt Ol</button>
            </div>
        </form>
    </div>
</div>